[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
deepspeech = "*"
numpy = "*"
pyyaml = "*"
aiohttp = "*"
asgiref = "*"
aiofiles = "*"
requests = "*"

[requires]
python_version = "3.7"
